# Sample gitconfig
#
# This is a sample gitconfig. Usually we keep a lot of sensitive information
# here (things like authentication tokens, email addresses, and so on), so this
# file is ignored in this project's .gitignore.
#
# To set this up, rename this file to `gitconfig.symlink` and you'll be able to
# install this to the correct location by running the project's main `rake`
# task.

[apply]
  whitespace = fix
[core]
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes
  whitespace = fix,space-before-tab,tab-in-indent,trailing-space
[color]
  ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[merge]
  log = true
[url "git@github.com:"]
  insteadOf = "gh:"
  pushInsteadOf = "github:"
  pushInsteadOf = "git://github.com/"
[url "git://github.com/"]
  insteadOf = "github:"
[url "git@gist.github.com:"]
  insteadOf = "gst:"
  pushInsteadOf = "gist:"
  pushInsteadOf = "git://gist.github.com/"
[url "git://gist.github.com/"]
  insteadOf = "gist:"
[user]
        name = Josh Lapham
        email = user@example.com
[github]
        user = joshlapham
