"*":
  core:
    automaticallyUpdate: false
    disabledPackages: [
      "metrics"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "dusk-syntax"
    ]
  editor:
    fontSize: 13
    invisibles: {}
    softWrap: true
  "exception-reporting":
    userId: "5b1bc328-e440-c930-d16b-755355472ec9"
  linter: {}
  "tree-view": {}
  welcome:
    showOnStartup: false
  whitespace: {}
".python.source":
  editor:
    softtabs: true
    tabLength: 4
  whitespace:
    ensureSingleTrailingNewline: false
    removeTrailingWhitespace: false
