"*":
  "":
    python:
      source:
        editor:
          softtabs: true
          tabLength: 4
        whitespace:
          ensureSingleTrailingNewline: false
          removeTrailingWhitespace: false
  core:
    automatically_update: false
    disabledPackages: [
      "metrics"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontSize: 13
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    showLineNumbers: true
    softWrap: true
  "exception-reporting":
    userId: "5b1bc328-e440-c930-d16b-755355472ec9"
  "linter-ui-default":
    showPanel: true
  welcome:
    showOnStartup: false
